.headline{
  /*padding-top: 5vh;*/
  font-size: 50px;
  font-family: 'Gill Sans', Arial;
  text-align: center;
  color: white;
  text-shadow: 0 0 2px white, 0 0 10px white, 0 0 15px #ffff;
  
}
body{
  margin: 0px;
  background-color: #1B3167;
  color: white;
}
.toggle{
  position: absolute;
  color:transparent;
  background-image: url("assets/Snow.png");
  top: 10vh;
  left: 90vw;
   background-size: cover;
  background-repeat: no-repeat;
  width: 48px;   /* or whatever size fits your design */
  height: 48px;
}
.topContainer{
  background-image: url('cropped2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 80%; /* fixs backgroud image showing */
 z-index: 1;
  height: 65vh;
}
.button1{
 font-size: 10px;

}
.popup1,.popup3,.popup2{
  font-size: 20px;
}
.popup1{
  position: absolute;
  font-weight: bold;
  top: 30vh;
  left: 31vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.popup2{
  position: absolute;
  font-weight: bold;
  color:black;
  top: 37.6vh;
  left:53vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  
}
.popup3{

  position:absolute;
  top: 18vh;
  left:73.8vw;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.contactButton:hover + .popup3{
  display:block;
}
.instruct{
  background-color: #92A9E2;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 1px white, 0 0 2px white , 0 0 3px #ffff;

}
h2{
  font-size: 45px;
  text-shadow: 3px 3px 1px darkgray, 3px 3px 1px darkgray, 3px 3px 1px darkgray;
}
.instructText{
  font-size:30px;
}
.contactButton{
  background-color: transparent;
  position: absolute;
  top: 21vh;
  left:70.8vw;
  background-image: url("assets/redFlag2.png");
  background-size: cover;
  width: 3vw;
  height: 6vh;
  background-repeat: no-repeat;
  border: none;
}
.abtButton{
  background-color: transparent;
  position: absolute;
  top: 33.8vh;
  left: 28vw;
  background-image: url("assets/redFlag2.png");
  background-size: cover;
  width: 3vw;
  height: 6vh;
  background-repeat: no-repeat;
  border: none;
}
.expButton{
  background-color: transparent;
  position: absolute;
  top: 40.8vh;
  left:50vw;
  background-image: url("assets/redFlag2.png");
  background-size: cover;
  width: 3vw;
  height: 6vh;
  background-repeat: no-repeat;
  border: none;
}